body
{
    background-color: lightgray;
}

.sec
{
    color:white;
    background-color: gray;
    border: 2px solid rgb(223, 223, 223);
    width: 180px;         
    padding-left: 10px;
}

#process
{
    padding: 30px;
    margin-right: 200px;
}

table, th, td
{
    border: 0px solid black;
    padding: 5px;
}